@charset "utf-8";

/*--------------reset--------------*/

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f4f4f4;
}


body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
	margin: 0;
}

body {
	font: 12px "微软雅黑";
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: normal;
}

a {
	text-decoration: none;
}

img {
	vertical-align: top;
	border: none;
}

i,
em {
	font-style: normal;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

#tjwq_header {
	height: 100px;
	background: url(../images/index/top-2.png) no-repeat center;
	background-size: 100% 100%;
}

#tjwq_header>div {
	width: 100%;
	height: 100%;
	background: url(../images/index/logo-2.png) no-repeat 20px top;
}

.tjwq_logo {
	background: url(../images/index/logo-2.png) no-repeat;
}

#nav {
	color: #444444;
	line-height: 30px;
	height: 30px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 102px;
	font-size: 14px;
	z-index: 5;
}

#nav a {
	color: #0196E3;
	cursor: pointer;
}

.tjwqtitle {
	height: 35px;
	background: #458fef url(../images/index/function.png) no-repeat 10px center;
	line-height: 35px;
	padding-left: 36px;
	font-weight: bold;
	width: 100%;
	color: #ffffff;
}

.listbtnz {
	line-height: 30px;
	background: #eee;
	text-indent: 25px;
	cursor: pointer;
	overflow: hidden;
}

.listbtnz>div {
	width: 96%;
	height: 30px;
	padding-left: 10px;
	float: left;
	background: url(../images/index/li.png) no-repeat 10px center;
}

.listbtnz>b {
	width: 4%;
	float: left;
	display: block;
	height: 30px;
}

.listbtnz.tjwqActive {
	color: #458fef;
}

.listbtnz.tjwqActive>div {
	background: url(../images/index/li-hoveri.png) no-repeat 10px center;
}

.listbtnz.tjwqActive>b,
.listbtnz:hover>b {
	background: #458fef;
}

.list_hidegrp>.listbtnz>div {
	padding-left: 20px;
	background: url(../images/index/li.png) no-repeat 20px center;
}

.list_hidegrp {
	overflow: hidden;
	height: 0;
}

#tjwqBtn {
	width: 15%;
	height: 100%;
	float: left;
	border-right: 1px solid #d0d0d0;
}

#tjwqMainframe {
	width: 85%;
	height: 42px;
	background: #f4f4f4;
	float: left;
	position: relative;
	z-index: 1000;
}

#tjwqMainframe_bodybox {
	width: 100%;
	height: 635px;
	background: none;
	position: absolute;
	left: 0;
	top: 0;
}

#tjwqMainframe_body {
	width: 100%;
	height: 100%;
	position: relative;
}

#tjwqMainframe_body #mainFrame {
	width: 100%;
	height: 115% !important;
}

.myslider {
	width: 60%;
	height: 70px;
	overflow: hidden;
	position: absolute;
	top: 15px;
	right: 0px;
}

.myslider a {
	float: left;
}

.roll {
	width: 698px;
	height: 108px;
	margin: 50px auto 0;
	position: absolute;
	top: -35px;
	right: 0;
}

.btn_left {
	display: block;
	width: 35px;
	height: 50px;
	background: url(../images/index/btn1.png) no-repeat !important;
	position: absolute;
	top: 17px;
	left: 35px;
	z-index: 1;
}

.btn_left:hover {
	background: url(../images/index/btn3.png) no-repeat;
}

.btn_right {
	display: block;
	width: 35px;
	height: 50px;
	background: url(../images/index/btn2.png) no-repeat !important;
	position: absolute;
	top: 17px;
	right: 32px;
	z-index: 1;
}

.btn_right:hover {
	background: url(../images/index/btn4.png) no-repeat;
}

.roll .wrap {
	width: 570px;
	height: 108px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.roll ul {
	position: absolute;
	top: 0;
	left: 0;
}

.roll li {
	float: left;
	width: 82px;
	height: 108px;
	text-align: center;
}

.roll li a:hover {
	position: relative;
	top: 2px;
}


/***/

.datagrid-cell {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.county:hover {
	color: red;
}